.bg{
    height: 115%;
    width: 100%;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
}
#header{
    z-index: 90;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 120px;
    margin: 0;
}
.artist_logo{
    height: 70px;
    position: fixed;
    background-color: red;
    top: 50px;
    left: 7%;
}
.dplogo{
    height: 60px;
    width: 80px;
    border: none;
    right: 0;
    position: absolute;
}
button{
    border: 0;
    background-color: transparent;
}
