.bg{
    height: 115%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}
#header{
    z-index: 2;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 120px;
    margin: 0;
    padding: 0;
}
.artist_logo{
    height: 80px;
    position: absolute;
    background-color: transparent;
    top: 50px;
    left: 11%;
    
}
.dplogo{
    height: 60px;
    width: 80px;
    border: none;
    top: 50px;
    right: 5%;
    position: absolute;
}
.dpmenu{
    cursor: pointer;
}
#dropdown{
    position: relative;
    display: block;
}

.nav{
    display: none;
}
.menu button img{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.dropdown-content li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    z-index: 0;
}
.dropdown-content{
    text-align: center;
}
