.bg{
    height: 115%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}
.bg-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4); 
}
#header{
    z-index: 10;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 120px;
    margin: 0;
    padding: 0;
}
.artist_logo{
    height: 80px;
    position: absolute;
    background-color: transparent;
    top: 50px;
    left: 11%;
    
}
.dplogo{
    height: 60px;
    width: 90px;
    border: none;
    top: 50px;
    right: 10%;
    position: absolute;
}
.dpcross{
    border: none;
    width: 50px;
    height: 50px;
    top: 50px;
    right: 10%;
    position: absolute;    
}
.dpmenu{
    cursor: pointer;
}
#dropdown{
    position: relative;
    display: block;
}
#mySidenav {
    position: fixed;
    height: 0;
    width: 100%;
    background-color: #f9f9f9;
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.3s; /* Add smooth transition */
}
.menu.show #mysidenav{
    height: 100vh;
}
.nav{
    display: none;
}
.menu img{
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.dropdown-content li {
    list-style: none;
    padding: 10px;
    z-index: 0;
}
.dropdown-content{
    text-align: center;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    font-size: 50px;
    display: flex;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
}
a::first-letter{
    vertical-align: middle;
}
/*right container*/
.right_cont{
    position: absolute;
    right: 10%;
    top: 23%;
    z-index: 3;
    width: 750px;
    height: 200px;
    background-color: transparent;
    visibility: visible;
    animation-delay: 0.1s;
    animation: fadeInRight 0.3s ease-in-out forwards;

}
.main_album_name{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.main_album_name a{
    color: white;
    font-weight: bold;
    font-size: 80px;
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px); 
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.line{
    width: 275px;
    position: absolute;
    float: right;
    border: 1px solid #fff;
    right: 11px;
    animation: fadeInRight 0.3s ease-in-out forwards;
    bottom: 0;
}
.main_schedule a{
    right: 10px;
    bottom: -60px;
    position: absolute;
    color: #fff;
}
.main_schedule_word a{
    right: 10px;
    bottom: -100px;
    position: absolute;
    font-size: 20px;
    color: #fff;
}